*{
        margin: 0px;
        padding: 0px;
}
.nav-container{
        display: flex;
        justify-content: space-around;
        padding: 2git0px;
        background-color: #9B9B9B;
        color: white;
}
.items{
        display: flex;
        list-style: none;
}
.item{
        margin-left: 10px;
        font-size: 22px;
        font-weight: 700;
}